USE [master]
GO
/****** Object:  Database [base]    Script Date: 7/12/2019 9:34:42 PM ******/
CREATE DATABASE [base]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'base', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\base.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'base_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\base_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [base].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [base]
GO
/****** Object:  Table [dbo].[user]    Script Date: 7/12/2019 9:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nchar](15) NOT NULL,
	[userPassword] [nchar](15) NOT NULL,
	[firstName] [nchar](100) NULL,
	[lastName] [nchar](100) NULL,
	[userStatus] [int] NOT NULL,
	[privileges] [int] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
